<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Nhân viên cửa hàng</title>
    <link rel="stylesheet" th:href="@{/css/AdminDashboard.css}">
</head>

<body>

<header class="dash-nav">
    <div class="wrap">
        <div class="brand">
            <span class="mark"></span>
            <span class="brand-word">CoffeeHRM</span>
        </div>
    </div>
</header>
<main class="wrap dash-main">
    <section class="welcome">
        <div class="eyebrow">Store</div>

        <h1 th:text="${store.storeName}">
            Nhân viên cửa hàng
        </h1>
    </section>
    <section class="panel">
        <table>
            <tr>
                <th>Họ tên</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Trạng thái</th>
            </tr>
            <tr th:each="employee:${employees}">
                <td th:text="${employee.fullName}"></td>
                <td th:text="${employee.email}"></td>
                <td th:text="${employee.phone}"></td>
                <td>
    <span th:if="${employee.status.name() == 'ACTIVE'}"
          class="status active">
        ● Hoạt động
    </span>
                </td>
            </tr>
        </table>
    </section>
</main>
</body>
</html>